# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# VS Code
.vscode/

# Java compiled files
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log
logs/


# Allure
allure-results/
allure-report/
allure-history/

# TestNG Reports
test-output/

# Selenium Screenshots
screenshots/
*.png



# OS Files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# Environment Files

.env
.env.local
.env.development
.env.production
.env.test

